@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

:root {
  --primary-color: #ff9e80;
  --darker-primary-color: #ff7a52;
  /* --secondary-color: #f99500; */
  /* --light-color: #f3f3f3; */
  --dark-color: #28334aff;
}
h3 {
  text-align: center;
  color: var(--dark-color);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
}

a {
  text-decoration: none;
}

p {
  margin: 0.75rem 0;
}

.p-t2 {
  margin-top: 1rem;
  /* padding-top: 3rem; */
}
.dropdown-trigger {
  text-align: center;
  /* padding: 2rem; */
  margin-top: 0.95rem;
  width: 150px;
}
.btn {
  height: 55px;
}
.sort-icon i {
  font-size: 100px;
}
.btn i {
  font-size: 30px;
  line-height: 55px;
}
.btn,
.btn-large,
.btn-small {
  color: var(--dark-color);
  background-color: var(--primary-color);
}
.btn:hover,
.btn-large:hover,
.btn-small:hover {
  color: var(--dark-color);
  background-color: #ff7a52;
}
.btn-large {
  width: 150px;
  text-align: center;
  padding: 0 40%;
}

.btn:focus,
.btn-large:focus,
.btn-small:focus {
  color: var(--dark-color);
  background-color: var(--primary-color);
}
.dropdown-elem {
  text-align: center;
  /* background-color: var(--primary-color); */
  font-size: 1.4rem;
  /* color: var(--dark-color); */
  display: block;
  line-height: 22px;
  padding: 14px 16px;
  height: 50px;
}
.dropdown-content {
  /* background-color: var(--primary-color); */
}
.no-filter {
  height: 30px;
}
.dollar-green {
  color: #00836d;
}
.gold {
  color: #ffd700;
}

.page {
  padding: 1.5rem;
  padding-bottom: 3rem;
  font-size: 1.2rem;
  margin-bottom: 2rem;
  text-align: center;
  margin: 0.25rem;
  margin-bottom: 2rem;
  background-color: #eee;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  width: 70px;
}
.page.act {
  background-color: var(--primary-color);
  cursor: auto;
}
.page.act:hover {
  background-color: var(--primary-color);
}
.page:hover {
  background-color: #aaa;
}
.page.disabled {
  color: #bbb;
}
.page.disabled:hover {
  background-color: #eee;
  cursor: auto;
}

.noUi-connect {
  background-color: var(--primary-color);
}
.c-1-color {
  background-color: var(--primary-color);
}

/* nav */
#nav {
  display: flex;
  background: #ff9e80;
  color: #333;
  position: sticky;
  top: 0;
  /*will stick at the top*/
  justify-content: space-between;
  z-index: 1;
  height: 60px;
  /*the higher the number the closer to the screen */
  padding: 0.5rem 2rem;
  border-bottom: 2px solid #333;
  /* max-width: 1600px; */
  /* margin: auto; */
}
#nav img {
  height: 40px;
}

#nav .text-primary {
  position: relative;
  top: -8px;
  color: var(--dark-color);
  font-size: 2rem;
  text-align: start;
}

#nav ul {
  display: flex;
  align-items: center;
  list-style: none;
}

#nav a {
  color: #333;
  padding: 0rem 1.5rem;
  margin: 0 0.5rem;
}
#nav ul li a {
  font-size: 1.3rem;
  transition: all 0.5s ease-in-out;
}

#nav ul li a:hover {
  /* font-size: 10rem; */
  color: var(--primary-color);
  background-color: var(--dark-color);
  border-radius: 5px;
}
.logo a {
  margin-bottom: 5rem;
  /* display: none; */
}

a {
  text-decoration: none;
}
/* Utility Classes */
.container-custom {
  max-width: 1200px;
  /* background-color: white; */
  margin: auto;
  /*In the middle */
  padding: 0 2rem;
  overflow: hidden;
}

.ranking-item {
  height: 150px;
  border: 1px solid black;
  margin: 1.5rem 0;
  display: grid;
  grid-template-areas:
    "photo name map "
    "photo rating price "
    "photo phone book "
    "photo food more";
  grid-template-columns: 150px 1fr 1.2fr;
  grid-template-rows: 1.1fr 1fr 1fr 1fr;
  gap: 0.4rem 1rem;
  padding: 0.8rem;
}
.ranking-item i {
  color: var(--darker-primary-color);
  width: 17px;
  text-align: center;
}
.phone {
  grid-area: phone;
}
.book {
  grid-area: book;
}
.restaurant-name {
  color: var(--dark-color);
  font-size: 1.5rem;
  grid-area: name;
  /* overflow: visible; */
  /* overflow: hidden; */
}

.restaurant-photo {
  height: 100%;
  width: 100%;
  grid-area: photo;
  object-fit: cover;
  background: transparent url("./img/loading.gif") center no-repeat;
}
.ranking-item.big {
  height: 400px;
  border: 1px solid black;
  margin: 1.5rem 0;
  display: grid;
  grid-template-areas:
    "photo name header"
    "photo rating review1 "
    "photo map review1 "
    "photo phone review2"
    "photo price review2"
    "photo food review3"
    "photo book review3";
  grid-template-columns: 230px 1fr 2fr;
  grid-template-rows: repeat(7, 1fr);
  gap: 0.4rem 1rem;
  padding: 0.8rem;
}
.ranking-item.big .restaurant-name {
  color: var(--dark-color);
  font-size: 1.8rem;
  grid-area: name;
  align-self: center;
}
.header-right {
  grid-area: header;
  font-size: 1.5rem;
  align-self: center;
  justify-self: center;
  /* color: var(--darker-primary-color); */
}
.divider {
  background-color: var(--primary-color);
}
.ranking-item.big .map {
  align-self: flex-start;
  grid-area: map;
}

/* .ranking-item.big .rating {
  align-self: flex-start;
  justify-self: right;
} */
.ranking-item.big .rating.right {
  align-self: flex-start;
  font-size: 1.5rem;
  justify-self: left;
}
.modal-footer .btn-flat {
  background-color: var(--primary-color);
}

.review {
  /* width: 45vw; */
  height: 45px;
  overflow: hidden;
  white-space: pre-line;
}

.review-1 {
  grid-area: review1;
}
.review-2 {
  grid-area: review2;
}
.review-3 {
  grid-area: review3;
}
.review-4 {
  grid-area: review4;
}
.review-5 {
  grid-area: review5;
}

.modal {
  width: 90vw !important ;
}

.restaurant-photo-big {
  width: 250px;
  object-fit: cover;
}
.rating {
  display: flex;
  flex-direction: row;
  grid-area: rating;
}
.food {
  grid-area: food;
}
.rating span.stars {
  color: var(--dark-color);
}
.rating span.votes {
  color: #999;
}
.map {
  align-self: flex-end;
  grid-area: map;
}
.price {
  grid-area: price;
}
.more {
  /* cursor: pointer; */
  grid-area: more;
}
.pointer {
  cursor: pointer;
  font-weight: 600;
}
.showcase-desc {
  position: relative;
  top: calc(12vh - 60px);
}

.showcase {
  position: absolute;
  top: 60px;
  width: 100%;
  text-align: center;
  color: white;
  /* background-image: url("./img/showcase-background.jpg"); */

  height: calc(100vh - 60px);
  background: url(./img/showcase-background.jpg) center center !important;
}
.showcase h3 {
  color: white;
}

.showcase-search {
  max-width: 1200px;
  position: relative;
  top: calc(22vh - 60px);
  margin: auto;
  background: rgba(0, 0, 0, 0.45);
}

input:not([type]),
input[type="text"]:not(.browser-default) {
  border-bottom: 1px solid var(--primary-color);
}

.showcase-search input[type="text"]:not(.browser-default) {
  height: 4rem;
  font-size: 2rem;
}
.showcase-search .input-field.col label {
  color: white;
  font-size: 1.5rem;
}
.card-panel {
  padding: 3rem;
  padding-bottom: 1rem;
}

.showcase-search input:not([type]),
.showcase-search input[type="text"]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid var(--primary-color);
  box-shadow: 0 1px 0 0 var(--primary-color);
  color: white;
  text-transform: capitalize;
}
input[type="text"]:not(.browser-default):focus:not([readonly]) + label {
  color: var(--primary-color);
}

input:not([type]),
input[type="text"]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid var(--primary-color);
  box-shadow: 0 1px 0 0 var(--primary-color);
}

.alert {
  position: sticky;
  padding: 1rem;
  /* margin: 1rem 0; */
  background: #555555;
  color: #333;
  border-radius: 10px;
  z-index: 10;
  width: 70vw;
  margin: auto;
  text-align: center;
  font-size: 1.5rem;
}
.alert-danger {
  background: #d32f2f;
  color: #fff;
}
.alert-success {
  background: #43a047;
  color: #fff;
}

@media only screen and (max-width: 900px) {
  h3 {
    font-size: 2rem;
  }
  #nav a {
    color: #333;
    padding: 0rem 0.8rem;
    margin: 0 0.2rem;
  }
  #nav ul li a {
    font-size: 1.2rem;
  }
  #nav .text-primary {
    font-size: 1.8rem;
  }
  .restaurant-name {
    font-size: 1.4rem;
  }
  .ranking-item {
    font-size: 0.9rem;
  }
  .restaurant-photo {
    width: 120px;
  }
  .ranking-item {
    grid-template-columns: 120px 1fr 1.2fr;
  }
}

@media only screen and (max-width: 650px) {
  h3 {
    font-size: 1.8rem;
  }
  .container-custom {
    padding: 0.2rem;
  }
  #nav {
    padding: 0.5rem 0;
  }
  h3 {
    font-size: 2rem;
  }
  #nav a {
    color: #333;
    padding: 0rem 0.6rem;
    margin: 0 0.2rem;
  }
  #nav ul li a {
    font-size: 1rem;
  }
  #nav .text-primary {
    font-size: 1.8rem;
  }
  .restaurant-name {
    font-size: 1.2rem;
  }
  .ranking-item {
    font-size: 0.8rem;
  }
  .restaurant-photo {
    width: 120px;
  }
  .ranking-item {
    grid-template-columns: 120px 1fr 1.2fr;
    padding: 0.4rem;
  }
  .ranking-item i {
    width: 13px;
    text-align: center;
  }
  .dropdown-trigger {
    /* padding: 2rem; */
    margin-top: 0.95rem;
    width: 80px;
  }
  .btn-large {
    width: 80px;
    padding: 0 30%;
  }
}

@media only screen and (max-width: 530px) {
  #nav img {
    height: 30px;
  }
  #nav .text-primary {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.6rem;
  }
  .container-custom {
    padding: 0.2rem;
  }
  .ranking-item {
    margin: 1rem 0rem;
    height: 200px;
    grid-template-areas:
      "photo name"
      "photo rating"
      "photo phone"
      "photo food"
      " photo map "
      " photo price "
      " photo book "
      " photo more";
    grid-template-columns: 150px 1fr;
    grid-template-rows: repeat(8, 1fr);
    gap: 0.4rem 1rem;
    padding: 0.4rem;
  }
  .restaurant-photo {
    width: 150px;
    object-fit: none;
  }
  .restaurant-name {
    font-size: 1.1rem;
  }
  .map {
    align-self: auto;
  }
}
@media only screen and (max-width: 430px) {
  #nav .text-primary {
    font-size: 1.3rem;
  }
  h3 {
    font-size: 1.4rem;
  }
  .container-custom {
    padding: 0.2rem;
  }
  .ranking-item {
    margin: 1rem 0rem;
    height: 200px;

    grid-template-areas:
      "photo name"
      "photo rating"
      "photo phone"
      "photo food"
      " photo map "
      " photo price "
      " photo book "
      " photo more";
    grid-template-columns: 150px 1fr;
    grid-template-rows: repeat(8, 1fr);
    gap: 0.1rem 1rem;
    padding: 0.4rem;
  }
  .restaurant-photo {
    width: 150px;
  }
  .restaurant-name {
    font-size: 1.2rem;
  }
  .map {
    align-self: auto;
  }
  .dropdown-trigger {
    /* padding: 2rem; */
    margin-top: 0.95rem;
    width: 60px;
  }
  .btn-large {
    width: 60px;
    padding: 0 30%;
  }
  .page {
    padding: 1rem;
    padding-bottom: 3rem;
    margin: 0.25rem;
    margin-bottom: 2rem;
    background-color: #eee;
    transition: all 0.2s ease-in-out;
    width: 50px;
  }
}

@media only screen and (max-width: 350px) {
  h3 {
    font-size: 1.3rem;
  }
  .ranking-item {
    margin: 0.5rem 0rem;
    height: 200px;
    grid-template-columns: 130px 1fr;
    gap: 0.1rem 0.5rem;
    padding: 0.4rem;
  }
  .restaurant-photo {
    width: 130px;
  }

  .ranking-item i {
    width: 11px;
  }
}
