@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

:root {
  --primary-color: #ff6e40;
  /* --secondary-color: #f99500; */
  /* --light-color: #f3f3f3; */
  --dark-color: #28334aff;
}
h3 {
  text-align: center;
  color: var(--dark-color);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
}

a {
  text-decoration: none;
}

p {
  margin: 0.75rem 0;
}

.page {
  padding: 1.5rem;
  padding-bottom: 3rem;
  font-size: 1.2rem;
  margin-bottom: 2rem;
  text-align: center;
  margin: 0.25rem;
  margin-bottom: 2rem;
  background-color: #eee;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  width: 70px;
}
.page.act {
  background-color: var(--primary-color);
  cursor: auto;
}
.page.act:hover {
  background-color: var(--primary-color);
}
.page:hover {
  background-color: #aaa;
}
.page.disabled {
  color: #bbb
}
.page.disabled:hover {
  background-color: #eee;
  cursor: auto;
}
.material-icons {
  font-size: 10rem;
}


/* nav */
#nav {
  display: flex;
  background: #ff9e80;
  color: #333;
  position: sticky;
  top: 0;
  /*will stick at the top*/
  justify-content: space-between;
  z-index: 1;
  height: 60px;
  /*the higher the number the closer to the screen */
  padding: 0.5rem 2rem;
  border-bottom: 2px solid #333;
  /* max-width: 1600px; */
  /* margin: auto; */
}
#nav img {
  height: 40px;
}

#nav .text-primary {
  position: relative;
  top: -8px;
  color: var(--dark-color);
  font-size: 2rem;
  text-align: start;
}

#nav ul {
  display: flex;
  align-items: center;
  list-style: none;
}

#nav a {
  color: #333;
  padding: 0rem 1.5rem;
  margin: 0 0.5rem;
}
#nav ul li a {
  font-size: 1.3rem;
  transition: all 0.5s ease-in-out;
}

#nav ul li a:hover {
  /* font-size: 10rem; */
  color: var(--primary-color);
  background-color: var(--dark-color);
  border-radius: 5px;
}
.logo a {
  margin-bottom: 5rem;
  /* display: none; */
}

a {
  text-decoration: none;
}
/* Utility Classes */
.container-custom {
  max-width: 1200px;
  background-color: white;
  margin: auto;
  /*In the middle */
  padding: 0 2rem;
  overflow: hidden;
}

.ranking-item {
  height: 150px;
  border: 1px solid black;
  margin: 1.5rem 0;
  display: grid;
  grid-template-areas:
    "photo name map "
    "photo rating price "
    "photo phone book "
    "photo food more";
  grid-template-columns: 150px 1fr 1.2fr;
  grid-template-rows: 1.1fr 1fr 1fr 1fr;
  gap: 0.4rem 1rem;
  padding: 0.8rem;
}
.ranking-item i {
  color: var(--primary-color);
  width: 17px;
  text-align: center;
}
.phone {
  grid-area: phone;
}
.book {
  grid-area: book;
}
.restaurant-name {
  color: var(--dark-color);
  font-size: 1.7rem;
  grid-area: name;
  overflow: hidden;
}
.restaurant-photo {
  height: 100%;
  width: 150px;
  grid-area: photo;
  object-fit: cover;
}
.rating {
  display: flex;
  flex-direction: row;
  grid-area: rating;
}
.food {
  grid-area: food;
}
.rating span.stars {
  color: var(--primary-color);
}
.rating span.votes {
  color: #999;
}
.map {
  align-self: flex-end;
  grid-area: map;
}
.price {
  grid-area: price;
}
.more {
  cursor: pointer;
  grid-area: more;
}

.alert {
  padding: 1rem;
  margin: 1rem 0;
  background: #555555;
  color: #333;
  border-radius: 10px;
}
.alert-danger {
  background: #d32f2f;
  color: #fff;
}
.alert-success {
  background: #43a047;
  color: #fff;
}

@media only screen and (max-width: 900px) {
  h3 {
    font-size: 2rem;
  }
  #nav a {
    color: #333;
    padding: 0rem 0.8rem;
    margin: 0 0.2rem;
  }
  #nav ul li a {
    font-size: 1.2rem;
  }
  #nav .text-primary {
    font-size: 1.8rem;
  }
  .restaurant-name {
    font-size: 1.4rem;
  }
  .ranking-item {
    font-size: 0.9rem;
  }
  .restaurant-photo {
    width: 120px;
  }
  .ranking-item {
    grid-template-columns: 120px 1fr 1.2fr;
  }
}

@media only screen and (max-width: 650px) {
  h3 {
    font-size: 1.8rem;
  }
  .container-custom {
    padding: 0.2rem;
  }
  #nav {
    padding: 0.5rem 0;
  }
  h3 {
    font-size: 2rem;
  }
  #nav a {
    color: #333;
    padding: 0rem 0.6rem;
    margin: 0 0.2rem;
  }
  #nav ul li a {
    font-size: 1rem;
  }
  #nav .text-primary {
    font-size: 1.8rem;
  }
  .restaurant-name {
    font-size: 1rem;
  }
  .ranking-item {
    font-size: 0.8rem;
  }
  .restaurant-photo {
    width: 120px;
  }
  .ranking-item {
    grid-template-columns: 120px 1fr 1.2fr;
    padding: 0.4rem;
  }
  .ranking-item i {
    color: var(--primary-color);
    width: 13px;
    text-align: center;
  }
}

@media only screen and (max-width: 530px) {
  #nav img {
    height: 30px;
  }
  #nav .text-primary {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.6rem;
  }
  .container-custom {
    padding: 0.2rem;
  }
  .ranking-item {
    margin: 1rem 0rem;
    height: 200px;
    grid-template-areas:
      "photo name"
      "photo rating"
      "photo phone"
      "photo food"
      " photo map "
      " photo price "
      " photo book "
      " photo more";
    grid-template-columns: 150px 1fr;
    grid-template-rows: repeat(8, 1fr);
    gap: 0.4rem 1rem;
    padding: 0.4rem;
  }
  .restaurant-photo {
    width: 150px;
  }
  .restaurant-name {
    font-size: 1.2rem;
  }
  .map {
    align-self: auto;
  }
}
@media only screen and (max-width: 430px) {
  #nav .text-primary {
    font-size: 1.3rem;
  }
  h3 {
    font-size: 1.4rem;
  }
  .container-custom {
    padding: 0.2rem;
  }
  .ranking-item {
    margin: 1rem 0rem;
    height: 200px;

    grid-template-areas:
      "photo name"
      "photo rating"
      "photo phone"
      "photo food"
      " photo map "
      " photo price "
      " photo book "
      " photo more";
    grid-template-columns: 150px 1fr;
    grid-template-rows: repeat(8, 1fr);
    gap: 0.1rem 1rem;
    padding: 0.4rem;
  }
  .restaurant-photo {
    width: 150px;
  }
  .restaurant-name {
    font-size: 1.2rem;
  }
  .map {
    align-self: auto;
  }
}

@media only screen and (max-width: 350px) {
  h3 {
    font-size: 1.3rem;
  }
  .ranking-item {
    margin: 0.5rem 0rem;
    height: 200px;
    grid-template-columns: 130px 1fr;
    gap: 0.1rem 0.5rem;
    padding: 0.4rem;
  }
  .restaurant-photo {
    width: 130px;
  }

  .ranking-item i {
    width: 11px;
  }
}
